*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu',sans-serif;
}

.world{
    margin-right: 172px;
}
.work{
    margin-right: 12px;
}
.container{
    width: 1230px;
    margin: 0 auto;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap:50px;
    align-items: center;
}
li{
    font-size: 16px; 
    display: flex;
    flex-direction: row;

}
header{
    height: 92px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.hero{
    padding: 220px 0 120px;
    background-image: url(bg-image.jpg);
}

.hero span {
    color:#ff5a30;
}

h1{
    line-height: 93.6px;
    font-size: 72px;
    color: white;
}
.createx_p{
    color: white;
    line-height: 30px;
    font-size: 20px;
    width: 595px;
    height: 90px;
}
.button{
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 52px;
    padding: 0 40px;
    background-color: #ff5a30;
    color: white;
    margin: 61px 0 179px;
}
.transparent_btn{
    background-color:transparent;
    margin-right: 24px;
    border: 1px solid rgb(255, 255, 255);
}
.orange_btn{
    border: none;
}
.line_itm{
    display: flex;
    flex-direction: column;
    color: white;
}
.line{
    height: 1px;
    width: 200px;
    background-color: white;
}
h2{
    font-size: 46px;
    text-align: center;
}
p{
    padding: 24px;
    font-size: 18px;
    text-align: center;
}
.bureau{
    width: 100%;
    height: 500px;
     background-image: url(image.jpg);
     filter: brightness(0.6);
     position: relative;
}
.video_sec{
    padding: 120px 0 90px;
}

.video_start{
    width: 80px;
    position: absolute;
    right: 575px;
    left: 575px;
    top: 210px;
    bottom: 210px;   
}
.video_mute{
    height: 40px;
    width: 40px;
    position: absolute;
    bottom: 32px;
    left: 32px;
}
.values_sec{
    padding: 90px 0 270px;

}
.our_h2{
   text-align: center; 
   margin-bottom: 24px;
   font-size: 46px;
}

.core_values li img {
    width: 48px;
    height: 48px;
}
.core_li{
    padding: 0 94px;
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.core_li:nth-child(2) {
    border-left: 1px solid black;
    border-right: 1px solid black;
}
h3{
    text-align: center;
}

.send_btn{
    background-color: #ff5a30
}
.form_input{

    font-size: 14px;
    display: flex;
    flex-direction: row;
}

.form_input input {
    width: 260px;
    padding: 11px 16px;
}
.send_btn{

}