*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.world{
    margin-right: 172px;
}
.work{
    margin-right: 12px;
}
.container{
    width: 1230px;
    margin: 0 auto;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap:50px;
    align-items: center;
}
li{
    font-size: 16px; 
    display: flex;
    flex-direction: row;

}
header{
    height: 92px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.hero{
    padding: 220px 0 120px;
    background-image: url(bg-image.jpg);
}
h1{
    width: 595px;
    color: white;
}
button{
    background-color: brown;
    padding: 10px  40px;
    border: 1px solid black;
}
.transparent_btn{
    background-color: transparent;
    border: 1px solid white;
    color: white;
}
.orange_btn{
    border: none;
    color: white;
}
.line_itm{
    display: flex;
    flex-direction: column;
    color: white;
}
.line{
    height: 1px;
    width: 200px;
    background-color: white;
}
        

